@import "./font-names.scss";

@font-face {
  font-family: #{$font-name}-Bold;
  src: url(fonts/#{$font-name}-Bold.ttf);
}
@font-face {
  font-family: #{$font-name}-Light;
  src: url(fonts/#{$font-name}-Light.ttf);
}
@font-face {
  font-family: #{$font-name}-Medium;
  src: url(fonts/#{$font-name}-Medium.ttf);
}
@font-face {
  font-family: #{$font-name}-Regular;
  src: url(fonts/#{$font-name}-Regular.ttf);
}
